<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!--Head belum ada title page. title masukin di halaman masing masing ya-->

<head th:fragment="cssjs">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/sidebar.css}" />
    <link rel="stylesheet" th:href="@{/css/popUp-style.css}" />
    <link rel="stylesheet" th:href="@{/js/popUp-script.js}" />
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />
    <!-- Our Custom CSS -->
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{//fonts.googleapis.com/css?family=Hammersmith+One}" />
    <script th:href="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script th:href="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js}" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js}" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script th:href="@{https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:href="@{https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js}"></script>
    <script th:href="@{/js/bootstrap.min.js}"></script>
    <script th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
<nav th:fragment="sidebar">
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <!--Bagian sidebar head keatas-->
            <div class="sidebar-header">
                <img th:src="@{/images/sidebarHeader.png}"/>
                <img th:src="@{/images/profpicTemporary.png}"
                id="profpic"/>
                <p><span id="loggedIn"></span></p> <!--                Nanti sesuain rolenya-->
                <img th:src="@{/images/border.png}"/>
            </div>

            <!--Bagian menu sidebar-->
            <ul class="list-unstyled components">
                <li th:id="${Profile}">
                    <a th:href="@{/}">Profile
                        <span class="sr-only"></span></a>
                </li>
                <li th:id="${Home}">
                    <!--Nungguin penamaan yang sesuai-->
                    <a th:href="@{/}">Home
                        <span class="sr-only"></span></a>
                </li>
                <li th:id="${LemburInfal}" id="LemburInfal">
                    <!--Nungguin penamaan yang sesuai-->
                    <!--sec:authorize="hasAnyAuthority('Karyawan')"-->
                    <a th:href="@{/lembur/list}">Lembur/Infal
                        <span class="sr-only"></span></a>
                </li>
                <li  th:id="${CutiIzin}">
                    <!--Nungguin penamaan yang sesuai-->
                    <!--sec:authorize="hasAnyAuthority('Karyawan')"-->
                    <a id="CutiIzin"
                       sec:authorize="hasAnyAuthority('Karyawan')" th:href="@{/cuti/list}">Cuti/Izin
                        <span class="sr-only"></span></a>
                </li>
                <li th:id="${Pengaduan}">
                    <!--Nungguin penamaan yang sesuai-->
                    <!--sec:authorize="hasAnyAuthority('Karyawan', 'Eksternal')"-->
                    <a
                            id="Penagduan" th:href="@{/pengaduan/viewall}">Pengaduan
                        <span class="sr-only"></span></a>
                </li>
                <li th:id="${FAQ}">
                    <!--Nungguin penamaan yang sesuai-->
                    <!--sec:authorize="hasAnyAuthority('Manajer SDI')"-->
                    <a th:href="@{/}" id="FAQ">FAQ
                        <span class="sr-only"></span></a>
                </li>
                <li th:id="${Payroll}">
                    <!--Nungguin penamaan yang sesuai-->
                    <!--sec:authorize="hasAnyAuthority('Manajer SDI')"-->
                    <a id="Payroll"
                       th:href="@{/payroll(tanggalIsu=${#dates.format(#dates.createNow() , 'yyyy-MM-dd')})}">Payroll
                        <span class="sr-only"></span></a>
                </li>
                <li>
                    <a th:href="@{/logout}">
                        <img th:src="@{/images/logout.png}" /></a>
                </li>
            </ul>
        </nav>
    </div>
    <script th:inline="javascript">
        var userNow =  /*[[${#httpServletRequest.userPrincipal.authorities}]]*/ 'default';
        var info = userNow[0];
        var role = info["authority"];
        var user = /*[[${#httpServletRequest.userPrincipal}]]*/ 'default';
        console.log(user);
        document.getElementById("loggedIn").innerHTML = role;

        if((role==="Manajer SDI") || (role==="Wakil Pengurus Harian")){
            $('#FAQ').hide();
            console.log(50);
        } else if((role==='Orang Tua') || (role==='Siswa')) {
            $('#LemburInfal').hide();
            $('#CutiIzin').hide();
        } else{
            $('#Payroll').hide();
        }
    </script>

</nav>


</body>



</html>