<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    Jangan Lupa diisi!-->
    <title>User Notification</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <!--    Default Style untuk semua page-->
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />
</head>
<body>
<style>
    #statusLogo {
        max-width: 10%; !important;
        height: auto;
        text-align: center;
    }
</style>
<div class="container-fluid" >
    <div class="col-auto" >
        <!--    formatnya: sidebar([NamaHalaman] = 'highlight'). Buat nge highlight sidebar kalo lagi di halaman itu-->
        <!--                Kecuali buat cuti izin dan lembur infal. gak pake garing karena jadi eror kalo pake garing-->
        <object th:replace="fragments/fragment :: sidebar(Payroll= 'highlight')" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">User Notification</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <img id="statusLogo" th:src="@{/images/Success.png}"/>
            <br> <br>
            <h2 class="col d-flex justify-content-center mb-3" th:text="'Informasi Karyawan dari Pengguna dengan username ' + ${user.username} + ' berhasil dibuat.'"></h2>
            <br><br><br>
            <a th:href="@{/}" class="btn btn-light col d-flex justify-content-center ml-1 mr-1">Back</a>
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->

</body>
</html>