<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    Jangan Lupa diisi!-->
    <title>Pengaduan Notification</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <!--    Default Style untuk semua page-->
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />
</head>
<body>
    <style>
    #statusLogo {
        max-width: 10%;
        height: auto;
        text-align: center;
    }
    </style>
<div class="container-fluid" >
    <div class="col-auto" >
        <!--    formatnya: sidebar([NamaHalaman] = 'highlight'). Buat nge highlight sidebar kalo lagi di halaman itu-->
        <!--                Kecuali buat cuti izin dan lembur infal. gak pake garing karena jadi eror kalo pake garing-->
        <object th:replace="fragments/fragment :: sidebar(Pengaduan= 'highlight')" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Pengaduan Notification</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <img id="statusLogo" th:src="@{/images/Success.png}"/>
            <br> <br>
            <h2 class="col d-flex justify-content-center mb-3" th:text="'Pengaduan dengan kode ' + ${kode} + ' berhasil diajukan.'"></h2>
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageBottom">
            <div class="pull-right">
                <a type="button" class="btn backgroundOrange" th:href="@{/pengaduan/viewall}">Back</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>