<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    Jangan Lupa diisi!-->
    <title>Detail Lembur</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <!--    Default Style untuk semua page-->
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />


</head>
<body>
<div class="container-fluid" >
    <div class="col-auto" >
        <!--    formatnya: sidebar([NamaHalaman] = 'highlight'). Buat nge highlight sidebar kalo lagi di halaman itu-->
        <!--                Kecuali buat cuti izin dan lembur infal. gak pake garing karena jadi eror kalo pake garing-->
        <object th:replace="fragments/fragment :: sidebar(LemburInfal = 'highlight')" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Detail Lembur</h3>
        </div>
    </div>
</div>

<!--    Dalem abu-abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <div class="col-md-8">
                <table width="100%" border="0">
                    <td>
                        <table border="0" width="100%" style="padding-left:2px;">
                            <tbody>
                            <tr>
                                <td width="35%"align="top">Kode Lembur</td>
                                <td width="2%">:</td>
                                <td style="font-weight: bold" th:text="${lembur.kode_lembur}"></td>
                            </tr>
                            <tr>
                                <td>Waktu Pengajuan</td>
                                <td>:</td>
                                <td th:text="${lembur.getTanggalRequest().getDate()} + '-' + ${lembur.getTanggalRequest().getMonth()+1} + '-' + ${lembur.getTanggalRequest().getYear()+1900} + ' ' + ${lembur.getTanggalRequest().getHours()} + ':' + ${lembur.getTanggalRequest().getMinutes()}"></td>

                            </tr>
                            <tr>
                                <td>Waktu Pengajuan</td>
                                <td>:</td>
                                <td th:text="${lembur.getTanggalRequest().getDate()} + '-' + ${lembur.getTanggalRequest().getMonth()+1} + '-' + ${lembur.getTanggalRequest().getYear()+1900} + ' ' + ${lembur.getTanggalRequest().getHours()} + ':' + ${lembur.getTanggalRequest().getMinutes()}"></td>

                            </tr>
                            <tr>
                                <td>Tanggal Lembur</td>
                                <td>:</td>
                                <td th:text="${lembur.getTanggalLembur().getDate()} + '-' + ${lembur.getTanggalLembur().getMonth()+1} + '-' + ${lembur.getTanggalLembur().getYear()+1900}"></td>

                            </tr>
                            <tr>
                                <td>Jam Mulai</td>
                                <td>:</td>
                                <td th:text="${lembur.getJamMulai().getHours()} + ':' + ${lembur.getJamMulai().getMinutes()}"></td>
                            </tr>
                            <tr>
                                <td>Jam Selesai</td>
                                <td>:</td>
                                <td th:text="${lembur.getJamSelesai().getHours()} + ':' + ${lembur.getJamSelesai().getMinutes()}"></td></td>

                            </tr>
                            <tr>
                                <td>Menggantikan</td>
                                <td>:</td>
                                <td th:text="${menggantikan}"></td>
                            </tr>
                            <tr>
                                <td>Durasi</td>
                                <td>:</td>
                                <td th:text="${durasi} + ' Jam'"></td>
                            </tr>
                            <tr>
                                <td>Alasan</td>
                                <td>:</td>
                                <td th:text="${lembur.alasan}"></td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td th:text="${lembur.id_status.getStatus()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </table>
            </div>
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageBottomLeft">
            <div class="pull-left">
                <a type="button" class="btn backgroundOrange " th:href="@{/lembur/list}">Back</a>
            </div>
        </div>
        <div class="card-body" id="pageBottom">
            <div class="pull-right">
                <a type="button" class="btn btn-danger " th:href="@{/lembur/verifikasi/tolak(id=${lembur.id})}">Tolak</a>
                <a type="button" class="btn backgroundGreen " th:href="@{/lembur/verifikasi/terima(id=${lembur.id})}">Terima</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>