<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Gaji</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

<style>
    #buttons{
        margin-top: 20px;
        text-align: right; !important;
        background-color:#F6F6F6;
    }

    .card-group .card-body{
        border-radius:0px;
        margin-left:0px;
        margin-right:0px;
        text-align: left; !important;
    }

    .card-group .card-body p{
        text-align: left; !important;
        font-size:13px;
        line-height:80%;
    }

    .container-fluid{
        font-size:13px;
    }

    .btn{
        font-size:13px;
    }

    tbody td{
        text-align: left;
    }

    tbody th{
        font-weight: normal; !important;
    }
</style>

<div class="container-fluid" >
    <div class="col-auto noPrint" >
        <object th:replace="fragments/fragment :: sidebar" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid" id="top">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Detail Gaji</h3>
        </div>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid" >
    <div class="card-body backgroundGreen">
        <div class="card-group text-left">
            <div class="card-body text-left backgroundGreen" id="leftCard">
                <p class="card-text" th:text="'Periode: ' + ${date}"></p>
                <p class="card-text" th:text="'Nama: ' + ${karyawan.getKaryawan()}"></p>
                <p class="card-text" th:text="'Unit Kerja: ' + ${karyawan.getUnit()}"></p>
                <p class="card-text"th:text="'Jabatan/Fungsi: ' + ${role}"> </p>
                <p class="card-text" th:text="'Status: ' + ${status}"></p>
                <p class="card-text" th:text="'Tahun Pengangkatan: ' + ${tahunAngkat}"></p>
                <p class="card-text">Masa Keja Pegawai Tetap: [tahun] Tahun</p>
                <p class="card-text" th:text="'Golongan: ' + ${karyawan.getGolongan()}"></p>
            </div>
            <div class="card-body text-left backgroundGreen" id="rightCard">
                <p class="card-text">Sakit: [xx] Hari</p>
                <p class="card-text">Ijin: [xx] Hari</p>
                <p class="card-text">Alpa: [xx] Hari</p>
                <p class="card-text" th:text="'Cuti: ' + ${karyawan.getJumlahCuti()} + ' Hari'"></p>
                <p class="card-text"></p>
                <p class="card-text">Jumlah Hari Efektif: [xx] Hari</p>
                <p class="card-text">Jumlah Hari Kehadiran: [xx] Hari</p>
            </div>
        </div>
    </div>
</div>

<br>

<!--    Dalem abu-abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <table class="rounded table table-bordered">
                <thead >
                    <tr>
                        <th colspan="4" scope="col" >PERINCIAN GAJI</th>
                    </tr>
                    <tr>
                        <th>No.</th>
                        <th colspan="2">Uraian</th>
                        <th>Jumlah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td colspan="2">Gaji Pokok</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getGajiPokok(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td colspan="2">Tunjangan Jabatan</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getTunjanganJabatan(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td colspan="2">Tunjangan Fungsional</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getTunjanganFungsional(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td colspan="2">Tunjangan Transport</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getTunjanganTransport(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td colspan="2">Tunjangan Keluarga</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getTunjanganKeluarga(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td colspan="2">Tunjangan Kesehatan</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getTunjanganKesehatan(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td colspan="2">Tunjangan Perintis</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getTunjanganPerintis(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th colspan="3" class="backgroundGreen">Total Fix Cost</th>
                        <th class="backgroundGreen"
                            th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getTotalFixCost(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                </tbody>
                <thead >
                    <tr>
                        <th colspan="4" scope="col" >TLP, TP, dan INFAL</th>
                    </tr>
                    <tr>
                        <th>No.</th>
                        <th colspan="2">Uraian</th>
                        <th>Jumlah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td colspan="2">T.pph (50%)</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.gettPPH(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td colspan="2">Uang Snack</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getUangSnack(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td colspan="2">Tunjangan Prestasi</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getTunjanganPrestasi(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td colspan="2">Lembur</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getTotalLembur(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td colspan="2">Infal</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getTotalInfal(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th colspan="3" class="backgroundGreen">Total Variable Cost</th>
                        <th class="backgroundGreen"
                            th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getTotalVarCost(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                </tbody>
                <thead >
                    <tr>
                        <th colspan="4" scope="col" >POTONGAN</th>
                    </tr>
                    <tr>
                        <th>No.</th>
                        <th colspan="2">Uraian</th>
                        <th>Jumlah</th>
                    </tr>
                </thead>
                    <tbody>
                    <tr>
                        <th>1</th>
                        <td>Angsuran koperasi pegawai</td>
                        <td>Ke [ ]</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getAngsuranKopeg(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td colspan="2">Angsuran Bank</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getAngsuranBank(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td colspan="2">Potongan Absensi</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getPotonganAbsensi(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td colspan="2">PPH (100%)</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getPotonganPPH(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Angsuran Yayasan</td>
                        <td>Ke [ ]</td>
                        <th th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getAngsuranYayasan(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th colspan="3" class="backgroundGreen">Total Potongan</th>
                        <th class="backgroundGreen"
                            th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getTotalPotongan(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th colspan="3" class="backgroundGreen">Take Home Pay (THP) Sebelum Pajak</th>
                        <th class="backgroundGreen"
                            th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getTHPB(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                    <tr>
                        <th colspan="3" class="backgroundGreen">Take Home Pay (THP) Setelah Pajak</th>
                        <th class="backgroundGreen"
                            th:text="'Rp. ' + ${#numbers.formatDecimal(gaji.getTHPA(), 0, 'POINT', 2, 'COMMA')}"></th>
                    </tr>
                </tbody>
            </table>

            <br><br>
            <!--            Buttons-->
            <div class="pull-right noPrint" id="buttons">
                <a type="button" class="btn backgroundPurple" id="edit"
                   th:href="@{/payroll/detailGaji/ubah(idGaji=${gaji.id})}">Edit</a>
                <button type="button" class="btn backgroundPurple" id="downloadPDF"
                onclick="pleasePrint()">Download PDF</button>
            </div>
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->
<div class="container-fluid noPrint">
    <div class="row">
        <div class="card-body" id="pageBottom">
            <div class="pull-right">
                <a type="button" class="btn backgroundOrange"
                   id="back" th:href="@{/payroll(tanggalIsu=${#dates.format(#dates.createNow() , 'yyyy-MM-dd')})}">Back</a>
                <a type="button" class="btn backgroundOrange" id="home" th:href="@{/}">Back</a>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
function pleasePrint() {
    $('.noPrint').hide();
    $('.card-body').css("margin-left", "50px");
    $('.card-body').css("margin-right", "50px");
    $('#top').css("margin-top", "50px");
    window.print();
    $('.noPrint').show();
    $('.card-body').css("margin-left", "250px");
    $('.card-body').css("margin-top", "0px");
    $('#top').css("margin-top", "0px");
    location.reload();

}
var role =  /*[[${role}]]*/ 'default';
var statusDokumen =  /*[[${statusDokumen}]]*/ 'default';
$(document).ready(function() {
    if(role==="Karyawan"){
        console.log(20);
        $('#edit').hide();
        $('#downloadPDF').show();
        $('#back').hide();
        $('#home').show();
    } else if (role==="Manajer SDI"){
        $('#back').show();
        $('#home').hide();
        console.log(12);
        if(statusDokumen==="Disetujui"){
            $('#edit').hide();
            $('#downloadPDF').show();
        }else{
            $('#edit').show();
            $('#downloadPDF').hide();
        }
    } else if((role==="Wakil Pengurus Harian") && (statusDokumen!=="Disetujui")){
        $('#edit').hide();
        $('#downloadPDF').hide();
        $('#back').show();
        $('#home').hide();
    } else if((role==="Wakil Pengurus Harian") && (statusDokumen==="Disetujui")){
        $('#edit').hide();
        $('#downloadPDF').show();
        $('#back').hide();
        $('#home').show();
    }
    else{
        $('#edit').hide();
        $('#back').show();
        $('#home').hide();
    }
});
</script>
</body>
</html>