<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    Jangan Lupa diisi!-->
    <title>Detail Pengaduan Saya</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <!--    Default Style untuk semua page-->
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />
</head>
<style>
    th, td {
        border-radius: 3em;
        color:#000000;
        text-align: start;
        background-color: #F6F6F6; !important;
        font-size: 1.15em;
    }
</style>

<body>
<div class="container-fluid" >
    <div class="col-auto" >
        <!--    formatnya: sidebar([NamaHalaman] = 'highlight'). Buat nge highlight sidebar kalo lagi di halaman itu-->
        <!--                Kecuali buat cuti izin dan lembur infal. gak pake garing karena jadi eror kalo pake garing-->
        <object th:replace="fragments/fragment2 :: sidebar(Pengaduan = 'highlight')" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Detail Pengaduan</h3>
        </div>
    </div>
</div>


<!--    Dalem abu-abu [Karyawan] -->
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <div class="col-md-8">
                <table width="100%" border="0">
                        <td>
                            <table border="0" width="100%" style="padding-left:2px;">
                                <tbody>
                                <tr>
                                    <td width="35%"align="top">Kode pengaduan</td>
                                    <td width="2%">:</td>
                                    <td style="font-weight: bold" th:text="${pengaduan.kode_pengaduan}"></td>
                                </tr>
                                <tr>
                                    <td>Tanggal Diajukan</td>
                                    <td>:</td>
                                    <td th:text="${pengaduan.tanggalPengaduan}"></td>

                                </tr>
                                <tr>
                                    <td>Nama Karyawan</td>
                                    <td>:</td>
                                    <td th:text="${pengaduan.no_karyawan.karyawan}"></td>

                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>:</td>
                                    <td th:text="${pengaduan.id_status.status}"></td>

                                </tr>
                                <tr>
                                    <td>Detail Pengaduan</td>
                                    <td>:</td>
                                    <td th:text="${pengaduan.detailPengaduan}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                </table>
            </div>
        </div>
    </div>
</div>


<!--    Container untuk bagian setelah abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageBottom">
            <div class="pull-left">
                <a type="button" class="btn backgroundOrange float-left" th:href="@{/pengaduan/view-all}">Back</a>
            </div>
            <div class="pull-right">
                <a type="button" class="btn backgroundMerah " th:href="@{/pengaduan/kelola/view/tolak(id=${pengaduan.id})}">Tolak</a>
                <a type="button" class="btn backgroundPurple " th:href="@{/pengaduan/kelola/view/teruskan(id=${pengaduan.id})}">Teruskan</a>
                <a type="submit" form="FORMskor" value="Submit" formmethod="post" class="btn backgroundGreen " th:href="@{/pengaduan/kelola/view/selesai(id=${pengaduan.id})}">Selesai</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>