<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Payroll</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />
</head>

<body>

<style>
    #buttons{
        margin-top: 20px;
        text-align: right; !important;
        background-color:#F6F6F6;
    }

    .colorWhite{
        color:white;
    }
</style>

<div class="container-fluid" >
    <div class="col-auto" >
        <object th:replace="fragments/fragment :: sidebar(Payroll = 'highlight')" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Detail Payroll</h3>
            <h4 class="colorGreen" style="text-align: left"
                th:text="'Unit - ' + ${unitName}"></h4>
        </div>
    </div>
</div>

<!--    Dalem abu-abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <table class="rounded table table-bordered">
                <thead >
                <tr>
                    <th scope="col" >No.</th>
                    <th scope="col">Nama</th>
<!--                    <th scope="col">Peran</th>-->
                    <th scope="col">Gaji</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="karyawan, iterationStatus : ${karyawanList}">
                    <th scope="row" th:text="${iterationStatus.count}"></th>
                    <td th:text="${karyawan.getKaryawan()}"></td>
<!--                    <td th:text=""></td>-->
                    <td th:text="'Rp. ' + ${#numbers.formatDecimal(karyawan.getGaji(), 0, 'POINT', 2, 'COMMA')}"></td>
                    <td><a th:href="@{/payroll/detailGaji(idGaji=${karyawan.getGajiModel().getId()})}" > View </a></td>
                </tr>
                <tr>
                    <td colspan="3" class="backgroundGreen colorWhite">Total Anggaran</td>
                    <td th:text="'Rp. ' + ${#numbers.formatDecimal(totalAnggaranUnit, 0, 'POINT', 2, 'COMMA')}"></td>
                </tr>
                </tbody>
            </table>

            <br><br>
            <!--            Buttons-->
            <div class="pull-right" id="buttons">
                <button type="button" class="btn backgroundPurple" style=" display: none;">Download PDF</button>
            </div>
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageBottom">
            <div class="pull-right">
                <a type="button" class="btn backgroundOrange" th:href="@{/payroll/}">Back</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>