<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    Jangan Lupa diisi!-->
    <title>Form Pengajuan Lembur</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <!--    Default Style untuk semua page-->
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />

</head>
<body>
<div class="container-fluid" >
    <div class="col-auto" >
        <!--    formatnya: sidebar([NamaHalaman] = 'highlight'). Buat nge highlight sidebar kalo lagi di halaman itu-->
        <!--                Kecuali buat cuti izin dan lembur infal. gak pake garing karena jadi eror kalo pake garing-->
        <object th:replace="fragments/fragment :: sidebar(LemburInfal= 'highlight')" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Buat Pengajuan Lembur/Infal Baru</h3>
        </div>
    </div>
</div>

<!--    Dalem abu-abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <form th:action="@{/user/addUser/InformasiKaryawan(username=${user.username})}" th:object="${karyawan}" method="POST">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">ID Pengguna: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{id_user}" th:value="${user.id}" th:placeholder="${user.id}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Email: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{email}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Karyawan: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{karyawan}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Nomor Karyawan: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{noKaryawan}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Unit: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{unit}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Tanggal Masuk: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="date" th:field="*{tanggalMasuk}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Status Karyawan: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{statusKaryawan}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Status Menikah: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{statusMenikah}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Gaji: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{gaji}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Golongan: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{golongan}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Jumlah Absensi: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{jumlahAbsensi}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Jumlah Anak: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{jumlahAnak}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Jumlah Cuti: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{jumlahCuti}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Jumlah Lembur: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{jumlahLembur}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Skor Pengaduan: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{skorPengaduan}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Skor Performa: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{skorPerforma}">
                    </div>
                </div>
                <a th:href="@{user/addUser/InformasiKaryawan(username=${user.username})}"><button type="submit" class="btn backgroundGreen ">Submit</button></a>
            </form>
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->
</body>
</html>