<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    Jangan Lupa diisi!-->
    <title>Form Pengajuan Lembur</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <!--    Default Style untuk semua page-->
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />
    <script>
        function radio(choice){
            if(choice==0)
                document.getElementById('infal').style.display='none';
            else
                document.getElementById('infal').style.display='block';
        }
    </script>


</head>
<body>
<div class="container-fluid" >
    <div class="col-auto" >
        <!--    formatnya: sidebar([NamaHalaman] = 'highlight'). Buat nge highlight sidebar kalo lagi di halaman itu-->
        <!--                Kecuali buat cuti izin dan lembur infal. gak pake garing karena jadi eror kalo pake garing-->
        <object th:replace="fragments/fragment :: sidebar(LemburInfal= 'highlight')" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Buat Pengajuan Lembur/Infal Baru</h3>
        </div>
    </div>
</div>

<!--    Dalem abu-abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <form th:action="@{/lembur/tambah}" th:object="${lembur}" method="POST">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Tanggal Lembur: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="date" th:field="*{tanggalLembur}" placeholder="yyyy/MM/dd">
                    </div>
                </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Jam Mulai: </label>
                        <div class="col-sm-3">
                            <input class="form-control" type="time" th:field="*{jamMulai}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Jam Selesai: </label>
                        <div class="col-sm-3">
                            <input class="form-control" type="time" th:field="*{jamSelesai}">
                        </div>
                    </div>
                <div class="form-group-row">
                    <div class="custom-control col-sm-1 custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" onclick="radio(0)" class="custom-control-input" value="1" th:field="*{jenis}" checked>
                        <label class="custom-control-label" for="customRadioInline1">Lembur</label>
                    </div>
                    <div class="custom-control col-sm-1 custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1" onclick="radio(1)" class="custom-control-input" value="2" th:field="*{jenis}" >
                        <label class="custom-control-label" for="customRadioInline2">Infal</label>
                    </div>
                </div>
                <div id="infal" class="form-group row" >
                    <label class="col-sm-3 col-form-label">Karyawan Yang Diinfalkan</label>
                    <div class="col-sm-3">
                        <select name="infalID" class="form-control" >
                            <option th:each="karyawan : ${karyawanList}" th:value="${karyawan.id}" th:text="${karyawan.karyawan}"></option>
                        </select>
                    </div>
                </div>
                    <div class="form-group row">
                            <label class="col-sm-3" for="formGroupExampleInput">Alasan</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="formGroupExampleInput" th:field="*{alasan}">
                            </div>
                    </div>
                <a type="button" class="btn backgroundOrange " th:href="@{/lembur/list}">Back</a>
                <button type="submit" class="btn backgroundGreen ">Submit</button>
            </form>
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->
</body>
</html>