<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!--    Jangan Lupa diisi!-->
    <title>Form Pengajuan Cuti/Izin</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <!--    Default Style untuk semua page-->
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />
</head>

<body>
<style>
    #buttons{
        margin-top: 20px;
        text-align: right; !important;
        /*background-color:#F6F6F6;*/
    }

    .card-group .card-body{
        border-radius:0px;
        margin-left:0px;
        margin-right:0px;
        text-align: left; !important;
    }

    .card-group .card-body p{
        text-align: left; !important;
        line-height:80%;
    }

    tbody td{
        text-align: left;
    }
</style>
<div class="container-fluid" >
    <div class="col-auto" >
        <!--    formatnya: sidebar([NamaHalaman] = 'highlight'). Buat nge highlight sidebar kalo lagi di halaman itu-->
        <!--                Kecuali buat cuti izin dan lembur infal. gak pake garing karena jadi eror kalo pake garing-->
        <object th:replace="fragments/fragment :: sidebar(CutiIzin= 'highlight')" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Buat Pengajuan Cuti/Izin Baru</h3>
        </div>
    </div>
</div>

<!--    Dalem abu-abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <form th:action="@{/cuti/add}" th:object="${cuti}" method="POST">
                <input type="hidden" th:field="*{id}"/>
                <br>
                <div class="form row">
                    <label class="col-4 col-form-label" style="text-align: right">Tanggal Mulai : </label>
                    <div class="col-4" style="align-content: baseline">
                        <input style="background-color:#c8e5be" class="form-control" type="date" th:field="*{tanggalMulai}" placeholder="yyyy/MM/dd">
                    </div>
                </div>
                <br>
                <div class="form row">
                    <label class="col-4 col-form-label" style="text-align: right">Tanggal Selesai : </label>
                    <div class="col-4">
                        <input style="background-color:#c8e5be" class="form-control" type="date" th:field="*{tanggalSelesai}" placeholder="yyyy/MM/dd">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <label for="jenis" class="col-4 col-form-label" style="text-align: right" >Jenis Cuti :</label>
                    <select style="background-color:#c8e5be" id="jenis" th:field="*{jenis}" class="form-control col-4" required>
                        <option value="0">Cuti Tahunan</option>
                        <option value="1">Cuti Sakit</option>
                        <option value="2">Cuti Ibadah Haji</option>
                        <option value="3">Cuti Ibadah Umrah</option>
                        <option value="4">Cuti Bersalin</option>
                    </select>
                </div>
                <br>
                <div class="form-row">
                    <label for="formGroupExampleInput" class="col-4 col-form-label" style="text-align: right">Keterangan :</label>
                    <input style="background-color:#c8e5be" type="text" class="form-control col-4" id="formGroupExampleInput" th:field="*{keterangan}">
                </div>
                <br>
                <a type="button" class="btn backgroundOrange " th:href="@{/cuti}">Back</a>
                <button type="submit" class="btn backgroundGreen ">Submit</button>
                </form>
<!--            <div class="pull-right" id="buttons">-->
<!--                <button onclick="document.getElementById('popUp').style.display='block'"  type="button" class="btn backgroundPurple" th:attrappend="data-target=${cuti.id}">Submit</button>-->
<!--            </div>-->
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->
<!--Ini section yang bakal popup. Copy dari sini buat setiap halaman yang ada pop up-->
<!--<div id="popUp" class="modal">-->
<!--    <span onclick="document.getElementById('popup').style.display='none'"  title="Close Modal">×</span>-->
<!--    &lt;!&ndash;    Ini jangan lupa diisi actionnya&ndash;&gt;-->
<!--    <div class="modal-content">-->
<!--        <div class="container">-->
<!--            <img th:src="@{/images/warning.png}"/>-->
<!--            <br><br>-->
<!--            &lt;!&ndash;            custom sendiri yaa&ndash;&gt;-->
<!--            <p>Apakah anda yakin ingin menambahkan pengajuan cuti baru?</p>-->
<!--            <div class="clearfix">-->
<!--                <button type="button" onclick="document.getElementById('popUp').style.display='none'" class="btn backgroundOrange">Cancel</button>-->
<!--                &lt;!&ndash;                ini juga custom!&ndash;&gt;-->
<!--                <button type="submit" onclick="document.getElementById('popUP').style.display='none'" class="btn backgroundPurple">Ajukan</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>