<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    Jangan Lupa diisi!-->
    <title>User Information</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <!--    Default Style untuk semua page-->
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />

</head>
<body>
<div class="container-fluid" >
    <div class="col-auto" >
        <!--    formatnya: sidebar([NamaHalaman] = 'highlight'). Buat nge highlight sidebar kalo lagi di halaman itu-->
        <!--                Kecuali buat cuti izin dan lembur infal. gak pake garing karena jadi eror kalo pake garing-->
        <object th:replace="fragments/fragment :: sidebar(LemburInfal= 'highlight')" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Informasi Pengguna</h3>
        </div>
    </div>
</div>

<!--    Dalem abu-abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <form th:action="@{/user/addUser}" th:object="${user}" method="POST">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Username: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{username}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Password: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="password" th:field="*{password}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Konfirmasi Password: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="password"  name="confirm_new_password">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Unit: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" th:field="*{unit}">
                    </div>
                </div>
                <div class="form-group row" >
                    <label class="col-sm-3 col-form-label">Role</label>
                    <div class="col-sm-3">
                        <select name="roleID" class="form-control" >
                            <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.role}"></option>
                        </select>
                    </div>
                </div>
                <a type="button" class="btn backgroundOrange " th:href="@{/lembur/list}">Back</a>
                <button type="submit" class="btn backgroundGreen ">Submit</button>
            </form>
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->
</body>
</html>