<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    Jangan Lupa diisi!-->
    <title>Home</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <!--    Default Style untuk semua page-->
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />
    <style>
        #pageTitle{
            text-align: left;
        }

        .card-body{
            background-color:white;
        }

        .choice{
            max-width:60%; !important;
            height:auto;
        }

        #left{
            margin-left:20%;
        }

        .downMargin{
            margin-bottom: 5%;
        }

        .column{
            margin-left:0;
            margin-right:0;
            padding:0;
        }
    </style>
</head>

<body th:style="'background: url(/images/bg.png) no-repeat center center fixed; background-size: contain;'">
    <div class="container-fluid" >
        <div class="col-auto" >
            <!--    formatnya: sidebar([NamaHalaman] = 'highlight'). Buat nge highlight sidebar kalo lagi di halaman itu-->
            <!--                Kecuali buat cuti izin dan lembur infal. gak pake garing karena jadi eror kalo pake garing-->
            <object th:replace="fragments/fragment :: sidebar(Home = 'highlight')" th:remove="tag"></object>
        </div>
    </div>

    <!--    Container untuk bagian sebelum abu abu-->
    <div class="container-fluid">
        <div class="row">
            <div class="card-body" id="pageTitle">
                <h2 class="colorGreen" th:text="'Halo, ' + ${nama} + '!'"></h2>
                <h4 class="colorGreen">Sistem Informasi SDI SIT Ummu'l Quro Depok</h4>
            </div>
        </div>
    </div>

    <!--    Dalem abu-abu-->
    <div class="container-fluid">
        <div class="row">
            <div class="column" id="left">
                <a th:href="@{/cuti/add}">
                    <img style="display:block" class="downMargin choice"
                         id="ajukan-cutiizin"
                         th:src="@{/images/ajukan-cutiIzin.png}"/>
                </a>
                <a th:href="@{/cuti/kelola}">
                    <img style="display:block" class="downMargin choice"
                         id="kelola-cutiizin"
                         th:src="@{/images/kelola-cutiizin.png}"/>
                </a>
                <a th:href="@{/pengaduan/add}">
                    <img style="display:block" class="downMargin choice"
                         id="eks-pengaduan"
                         th:src="@{/images/eks-pengaduan.png}"/>
                </a>
                <a th:href="@{/lembur/add}">
                    <img style="display:block" class="choice"
                         id="ajukan-lemburinfal"
                         th:src="@{/images/ajukan-lemburInfal.png}"/>
                </a>
                <a th:href="@{/lembur/list/verifikasi}">
                    <img style="display:block" class="choice"
                         id="kelola-lemburinfal"
                         th:src="@{/images/kelola-lemburinfal.png}"/>
                </a>
            </div>
            <div class="column">
                <a th:href="@{/pengaduan/add}">
                    <img style="display:block" class="downMargin choice"
                         id="ajukan-pengaduan"
                         th:src="@{/images/ajukan-pengaduan.png}"/>
                </a>
                <a th:href="@{/pengaduan/view-all}">
                    <img style="display:block" class="downMargin choice"
                         id="kelola-pengaduan"
                         th:src="@{/images/kelola-pengaduan.png}"/>
                </a>
                <a th:href="@{/payroll/listGaji(idKaryawan=${idKaryawan})}">
                    <img style="display:block" class="choice"
                         id="slipGaji"
                         th:src="@{/images/lihat-slipGaji.png}"/>
                </a>
                <a th:href="@{/}">
                    <img style="display:block" class="choice"
                         id="eks-faq"
                         th:src="@{/images/faq.png}"/>
                </a>
            </div>
            <div class="column">
                <a th:href="@{/}">
                    <img style="display:block" class="choice"
                         id="faq"
                         th:src="@{/images/faq.png}"/>
                </a>
            </div>

        </div>
    </div>
<script th:inline="javascript">
    var role =  /*[[${role}]]*/ 'default';
    if(role==="Karyawan"){
        $('#kelola-cutiizin').hide();
        $('#kelola-lemburinfal').hide();
        $('#kelola-pengaduan').hide();
        $('#eks-faq').hide();
        $('#eks-pengaduan').hide();
    } else if((role==="Orang Tua") || (role==="Siswa")){
        $('#kelola-cutiizin').hide();
        $('#kelola-lemburinfal').hide();
        $('#kelola-pengaduan').hide();
        $('#ajukan-cutiizin').hide()
        $('#ajukan-lemburinfal').hide();
        $('#ajukan-pengaduan').hide()
        $('#faq').hide();
        $('#slipGaji').hide();
    } else{
        $('#ajukan-cutiizin').hide();
        $('#ajukan-lemburinfal').hide();
        $('#ajukan-pengaduan').hide();
        $('#eks-faq').hide();
        $('#eks-pengaduan').hide();
    }
</script>
</body>
</html>
