<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Komponen Pengali Gaji</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />
</head>

<body>

<style>
    #buttons{
        margin-top: 20px;
        text-align: right; !important;
        background-color:#F6F6F6;
    }

    .card-group .card-body{
        border-radius:0px;
        margin-left:0px;
        margin-right:0px;
        text-align: left; !important;
    }

    .card-group .card-body p{
        text-align: left; !important;
        line-height:80%;
    }

    tbody td{
        text-align: left;
    }
</style>

<div class="container-fluid" >
    <div class="col-auto" >
        <object th:replace="fragments/fragment :: sidebar(Payroll = 'highlight')" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Komponen Pengali Gaji</h3>
        </div>
    </div>
</div>

<!--    Dalem abu-abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <table class="rounded table table-bordered">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Komponen</th>
                        <th>Jumlah</th>
                        <th>Satuan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Lembur</td>
                        <th>Rp. [xx]</th>
                        <th>per Jam</th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Infal</td>
                        <th>Rp. [xx]</th>
                        <th>per Jam</th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Tunjangan Keluarga</td>
                        <th>Rp. [xx]</th>
                        <th>per Kepala</th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>PPH</td>
                        <th>Rp. [xx]</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Uang Snack</td>
                        <th>Rp. [xx]</th>
                        <th>per Hari</th>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td>Absensi</td>
                        <th>Rp. [xx]</th>
                        <th>per Hari</th>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td>T.pph</td>
                        <th>Rp. [xx]</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td>Tunjangan Prestasi</td>
                        <th>Rp. [xx]</th>
                        <th>per Prestasi</th>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td>Golongan</td>
                        <th>Rp. [xx]</th>
                        <th></th>
                    </tr>
            </table>

            <br><br>
            <!--            Buttons-->
            <div class="pull-right" id="buttons">
                <button type="button" class="btn backgroundPurple ">Edit</button>
            </div>
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageBottom">
            <div class="pull-right">
                <button type="button" class="btn backgroundOrange ">Back</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>