<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mengajukan Payroll</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />
</head>

<body>
<style>
    .collapsible {
        background-color: white;
        cursor: pointer;
        width: 100%;
        height: 20%;
        border-width: 2px;
        border-color: #83BA70;
        text-align: center;
        border-radius: 20px;
        height:30px;
    }

    collapsible:hover {
        background-color: #83BA70;
        color:white;
        border-width: 2px;
        border-color: white;
    }

    .collapsible:after {
        content: '\25BC';
        color: #83BA70;
        float: right;
    }

    .active{
        background-color: white;
        color: #83BA70;
        border-width: 2px;
        border-color: #83BA70;
    }

    .active:after {
        content: "\25B2";
        color: #83BA70;
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    #buttons{
        margin-top: 20px;
        text-align: right; !important;
        background-color:#F6F6F6;
    }

    .colorWhite{
        color:white;
    }
</style>

<div class="container-fluid" >
    <div class="col-auto" >
        <object th:replace="fragments/fragment :: sidebar(Payroll = 'highlight')" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Mengajukan Payroll</h3>
            <h4 class="colorGreen" style="text-align: left"
            th:text="'Total Anggaran: ' + ${now}"></h4>
            <h5 class="colorPurple" style="text-align: left"
                th:text="'Status - ' + ${dokumenDisplay.getId_status().getStatus()}"></h5>
        </div>
    </div>
</div>

<!--    Dalem abu-abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <table class="rounded table table-bordered">
                <thead >
                <tr>
                    <th scope="col" >No.</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Anggaran</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>TKIT</td>
                    <td
                            th:text="'Rp. ' + ${#numbers.formatDecimal(unitDisplay.get(0), 0, 'POINT', 2, 'COMMA')}"></td>
                    <td><a th:href="@{/payroll/detailPayroll(dokumenId=${dokumenDisplay.getId()}, unitName=${'TKIT'})}" > View </a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>SDIT</td>
                    <td
                            th:text="'Rp. ' + ${#numbers.formatDecimal(unitDisplay.get(1), 0, 'POINT', 2, 'COMMA')}"></td>
                    <td><a th:href="@{/payroll/detailPayroll(dokumenId=${dokumenDisplay.getId()}, unitName=${'SDIT'})}" > View </a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>SMPIT</td>
                    <td
                            th:text="'Rp. ' + ${#numbers.formatDecimal(unitDisplay.get(2), 0, 'POINT', 2, 'COMMA')}"></td>
                    <td><a th:href="@{/payroll/detailPayroll(dokumenId=${dokumenDisplay.getId()}, unitName=${'SMPIT'})}" > View </a></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Supporting Unit</td>
                    <td
                            th:text="'Rp. ' + ${#numbers.formatDecimal(unitDisplay.get(3), 0, 'POINT', 2, 'COMMA')}"></td>
                    <td><a th:href="@{/payroll/detailPayroll(dokumenId=${dokumenDisplay.getId()}, unitName=${'SU'})}" > View </a></td>
                </tr>
                <tr>
                    <td colspan="2" class="backgroundGreen colorWhite">Total Anggaran</td>
                    <td colspan="2" th:text="'Rp. ' + ${#numbers.formatDecimal(dokumenDisplay.getTotalAnggaran(), 0, 'POINT', 2, 'COMMA')}"></td>
                </tr>
                </tbody>
            </table>

<!--            Buttons-->
            <br><br><br>
            <div class="pull-right" id="buttons">
                <a type="button" class="btn backgroundPurple" th:href="@{/payroll/komponenGaji}">Lihat Pengali Gaji</a>
                <button onclick="document.getElementById('popUp').style.display='block'" type="button" class="btn backgroundPurple" id="ajukan" style="display: inline;">Ajukan</button>
                <button type="button" class="btn backgroundPurple" style="display: none;">Download PDF</button>
            </div>
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageBottom">
            <div class="pull-right">
                <button type="button" class="btn backgroundOrange" th:href="@{/}">Back</button>
            </div>
        </div>
    </div>
</div>

<!--Ini section yang bakal popup. Copy dari sini buat setiap halaman yang ada pop up-->
<div id="popUp" class="modal">
    <span onclick="document.getElementById('popup').style.display='none'"  title="Close Modal">×</span>
    <!--    Ini jangan lupa diisi actionnya-->
    <div class="modal-content">
        <div class="container">
            <img th:src="@{/images/warning.png}"/>
            <br><br>
            <!--            custom sendiri yaa-->
            <p>Apakah anda yakin mengajukan dokumen total anggaran?</p>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('popUp').style.display='none'" class="btn backgroundOrange">Cancel</button>
                <!--                ini juga custom!-->
                <button type="submit" onclick="document.getElementById('popUP').style.display='none'" class="btn backgroundPurple" th:href="@{/payroll/ajukan(idDok=${dokumenDisplay.getId()})}">Ajukan</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    //collapsible
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }

    var status = [${dokumenDisplay.getId_status().getStatus()}]
    if (status === "Menunggu Pengajuan"){
        document.getElementById("ajukan").style.display = "block";
    } else{
        document.getElementById("ajukan").style.display = "none";
    }
</script>

</body>
</html>