<!--Ini section yang bakal popup. Copy dari sini buat setiap halaman yang ada pop up-->
<!--Nanti formnya ditutup abis div ini yaa-->
<div id="popUp" class="modal">
    <span onclick="document.getElementById('popup').style.display='none'"  title="Close Modal">×</span>
    <!--    Ini jangan lupa diisi actionnya-->
    <div class="modal-content">
        <div class="container">
<!--            <img th:src="@{/images/warning.png}"/>-->
            <br><br>
            <!--            custom sendiri yaa-->
            <p>Apakah anda yakin ingin [apa]?</p>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('popUp').style.display='none'" class="btn backgroundOrange">Cancel</button>
                <!--                ini juga custom!-->
                <button type="submit" onclick="document.getElementById('popUP').style.display='none'" class="btn backgroundPurple">Delete</button>
            </div>
        </div>
    </div>
</div>
