<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    Jangan Lupa diisi!-->
    <title>List Pengajuan Cuti</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <!--    Default Style untuk semua page-->
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />


</head>
<body>
<div class="container-fluid" >
    <div class="col-auto" >
        <!--    formatnya: sidebar([NamaHalaman] = 'highlight'). Buat nge highlight sidebar kalo lagi di halaman itu-->
        <!--                Kecuali buat cuti izin dan lembur infal. gak pake garing karena jadi eror kalo pake garing-->
        <object th:replace="fragments/fragment :: sidebar(CutiIzin = 'highlight')" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Daftar Pengajuan Cuti/Izin</h3>
        </div>
        <div class="card-body" id="buttonUP">
            <div class="pull-right">
                <a type="button" class="btn backgroundOrange " th:href="@{/cuti/add}">+ Tambah Pengajuan</a>
            </div>
        </div>
    </div>
</div>

<!--    Dalem abu-abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <table class="rounded table table-bordered">
                <thead style="color: #7BB662">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Tanggal Pengajuan</th>
                    <th scope="col">Kode Lembur/Infal</th>
                    <th scope="col">Status</th>
                    <th scope="col" colspan="3">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cuti, iterationStatus : ${cutiList}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${cuti.tanggalRequest.getDate()} + '-' + ${cuti.tanggalRequest.getMonth()} + '-' + ${cuti.tanggalRequest.getYear()+1900}"></td>
                    <td th:text="${cuti.kode_cuti}"></td>

                    <td th:if="${cuti.id_status.getStatus()}=='diproses'" style="color:#FAB14A;" th:text="${cuti.id_status.getStatus()}"></td>
                    <td th:if="${cuti.id_status.getStatus()}=='Dibatalkan'" style="color:#000000;" th:text="${cuti.id_status.getStatus()}"></td>
                    <td th:if="${cuti.id_status.getStatus()}=='Diterima'" style="color:#83BA70;" th:text="${cuti.id_status.getStatus()}"></td>
                    <td th:if="${cuti.id_status.getStatus()}=='Ditolak'" style="color:#D84242;" th:text="${cuti.id_status.getStatus()}"></td>

                    <td style="background-color: #83BA70"><a class="backgroundBtnViewAll" type="button" role="button"  th:href="@{/cuti/detail(id=${cuti.id})}">View</a></td>
                    <td style="background-color: #FAB14A"><a class="backgroundBtnViewAll" type="button" role="button"  th:href="@{/cuti/edit(id=${cuti.id})}">Edit</a></td>
                    <td style="background-color: #D84242"><a class="backgroundBtnViewAll" type="button" role="button"  th:href="@{/cuti/delete(id=${cuti.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageBottom">
            <div class="pull-right">
                <a type="button" class="btn backgroundOrange " th:href="@{/}">Back</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>