<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns:b="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <!--    Jangan Lupa diisi!-->
    <title>Daftar Pengaduan Saya</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <!--    Default Style untuk semua page-->
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />


</head>
<body>
<div class="container-fluid" >
    <div class="col-auto" >
        <!--    formatnya: sidebar([NamaHalaman] = 'highlight'). Buat nge highlight sidebar kalo lagi di halaman itu-->
        <!--                Kecuali buat cuti izin dan lembur infal. gak pake garing karena jadi eror kalo pake garing-->
        <object th:replace="fragments/fragment :: sidebar(Pengaduan = 'highlight')" th:remove="tag"></object>
    </div>
</div>


<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Daftar Pengaduan Saya</h3>
            <a th:href="@{/pengaduan/add}" type="button" class="btn backgroundOrange float-right">+Ajukan Pengaduan</a>
        </div>
    </div>
</div>


<!--    Dalem abu-abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <table class="rounded table table-bordered">
                <thead >
                <tr>
                    <th scope="col" >No</th>
                    <th scope="col">Tanggal Diajukan</th>
                    <th scope="col">Id Pengaduan</th>
                    <th scope="col">Karyawan</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="pengaduan, iStat: ${pengaduanPage.content}">
                        <td th:text="${iStat.count}"></td>
                        <td th:text="${pengaduan.tanggalPengaduan}"></td>
                        <td th:text="${pengaduan.kode_pengaduan}"></td>
                        <td th:text="${pengaduan.no_karyawan.getKaryawan()}"></td>
                        <td class="text-center">
                            <div th:if="${pengaduan.id_status.getStatus()}=='Ditolak'" style="color:#D84242;" th:text="${pengaduan.id_status.getStatus()}"></div>
                            <div th:if="${pengaduan.id_status.getStatus()}=='Diajukan'" style="color:#FAB14A;" th:text="${pengaduan.id_status.getStatus()}"></div>
                            <div th:if="${pengaduan.id_status.getStatus()}=='Selesai'" style="color:#83BA70;" th:text="${pengaduan.id_status.getStatus()}"></div>
                            <div th:if="${pengaduan.id_status.getStatus()}=='Disetujui oleh Pimpinan Unit'" style="color:#83BA70;" th:text="${pengaduan.id_status.getStatus()}"></div>
                            <div th:if="${pengaduan.id_status.getStatus()}=='Disetujui oleh Kepala Bagian'" style="color:#83BA70;" th:text="${pengaduan.id_status.getStatus()}"></div>
                            <div th:if="${pengaduan.id_status.getStatus()}=='Menunggu Persetujuan'" style="color:#b969ee;" th:text="${pengaduan.id_status.getStatus()}"></div>
                            <div th:if="${pengaduan.id_status.getStatus()}=='Diteruskan oleh Pimpinan Unit'" style="color:#b969ee;" th:text="${pengaduan.id_status.getStatus()}"></div>
                            <div th:if="${pengaduan.id_status.getStatus()}=='Diteruskan oleh Kepala Bagian'" style="color:#b969ee;" th:text="${pengaduan.id_status.getStatus()}"></div>
                        </td>
                        <td style="background-color: #83BA70"><a class="backgroundBtnViewAll" type="button" role="button"  th:href="@{/pengaduan/view(id=${pengaduan.id})}">View</a></td>
                        <!-- <td><a class="btn backgroundMerah" type="button" role="button"  th:href="@{/pengaduan/delete(id=${pengaduan.id})}">Delete</a></td> -->
                        </tr>
                </tbody>
            </table>
            <div th:if="${pengaduanPage.totalPages > 0}" class="pagination text-center"
                th:each="pageNumber : ${pageNumbers}" style="align-items: center">
               <a th:href="@{/pengaduan/viewall(size=${pengaduanPage.size}, page=${pageNumber})}"
                  th:text=${pageNumber}
                  th:class="${pageNumber==pengaduanPage.number + 1} ? active" th:style="'color:#83BA70'" ></a>
           </div>
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageBottom">
            <div class="pull-right">
                <a type="button" class="btn backgroundOrange " th:href="@{/}">Back</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>