<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    Jangan Lupa diisi!-->
    <title>Detail Pengaduan Saya</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <!--    Default Style untuk semua page-->
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />


</head>
<body>
<div class="container-fluid" >
    <div class="col-auto" >
        <!--    formatnya: sidebar([NamaHalaman] = 'highlight'). Buat nge highlight sidebar kalo lagi di halaman itu-->
        <!--                Kecuali buat cuti izin dan lembur infal. gak pake garing karena jadi eror kalo pake garing-->
        <object th:replace="fragments/fragment :: sidebar(Pengaduan = 'highlight')" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Detail Pengaduan Saya</h3>
        </div>
    </div>
</div>

<!--    Dalem abu-abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <h2  class="col d-flex justify-content-center mb-3"> Detail Pengaduan: </h2>
            <br>
            <div class="row">
                <div class="col-25">
                  <h5>Kode Pengaduan&emsp;&ensp; : &emsp;</h5>
                </div>
                <div class="col-75">
                    <h5 th:text="${pengaduan.kode_pengaduan}"></h5>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-25">
                  <h5>Tanggal Diajukan&ensp;&emsp;: &emsp; </h5>
                </div>
                <div class="col-75">
                    <h5 th:text="${pengaduan.tanggalPengaduan}"></h5>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-25">
                  <h5 >Nama Karyawan &emsp; &ensp;: &emsp;</h5>
                </div>
                <div class="col-75">
                    <h5 th:text="${pengaduan.no_karyawan.karyawan}"></h5>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-25">
                  <h5>Status &emsp; &emsp; &emsp; &emsp; &ensp; : &ensp;</h5>
                </div>
                <div class="col-75">
                    <h5 class="col d-flex justify-content-center">
                        <div th:text="${pengaduan.id_status.status}"></div>
                    </h5>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-25">
                  <h5>Detail Pengaduan &emsp;: &emsp;</h5>
                </div>
                <div class="col-75">
                    <h5 th:text="${pengaduan.detailPengaduan}"></h5>
                </div>
            </div>


            <!-- <br>

            <div class="col d-flex justify-content-center">
                <h5 class="col d-flex justify-content-center" th:text="'Kode Pengaduan: ' + ${pengaduan.kode_pengaduan}"></h5>
            </div>
            <br>
            <div class="col d-flex justify-content-center">
                <h5 class="col d-flex justify-content-center" th:text="'Tanggal Diajukan: ' + ${pengaduan.tanggalPengaduan}"></h5>
            </div>
            <br>
            <div class="col d-flex justify-content-center">
                <h5 class="col d-flex justify-content-center" th:text="'Nama Karyawan: ' + ${pengaduan.no_karyawan.karyawan}"></h5>
            </div>
            <br>
            <h5 class="col d-flex justify-content-center">
                <div  th:if="${pengaduan.statusPengaduan == 0}">Status : Menunggu Persetujuan</div>
                <div  th:if="${pengaduan.statusPengaduan == 1}">Status : Ditolak</div>
                <div  th:if="${pengaduan.statusPengaduan == 2}">Status : Diproses</div>
                <div  th:if="${pengaduan.statusPengaduan == 3}">Status : Selesai</div>
            </h5>
            <br>
            <div class="col d-flex justify-content-center">
                <h5 class="col d-flex justify-content-center" th:text="'Detail Pengaduan: ' + ${pengaduan.detailPengaduan}"></h5>
            </div> -->
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageBottom">
            <div class="pull-right">
                <a type="button" class="btn backgroundOrange " th:href="@{/pengaduan/viewall}">Back</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>