<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    Jangan Lupa diisi!-->
    <title>Error</title>
    <object th:include="fragments/fragment :: cssjs" th:remove="tag"></object>
    <!--    Default Style untuk semua page-->
    <link rel="stylesheet" th:href="@{/css/default-style.css}" />
</head>
<body>

<style>
    #statusLogo {
        max-width: 10%; !important;
        height: auto;
        text-align: center;
    }
</style>

<div class="container-fluid" >
    <div class="col-auto" >
        <object th:replace="fragments/fragment :: sidebar" th:remove="tag"></object>
    </div>
</div>

<!--    Container untuk bagian sebelum abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageTitle">
            <h3 class="colorGreen">Error 500</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <img id="statusLogo" th:src="@{/images/failed.png}"/>
            <br> <br>
            <h2 class="col d-flex justify-content-center mb-3">
                Mohon maaf, terjadi kesalahan input.
            </h2>
        </div>
    </div>
</div>

<!--    Container untuk bagian setelah abu abu-->
<div class="container-fluid">
    <div class="row">
        <div class="card-body" id="pageBottom">
            <div class="pull-right">
                <a type="button" class="btn backgroundOrange" th:href="@{/}">Back</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>