body{
    overflow:auto;
}

h3{
    text-align: left;
}

div{
    font-family: "Hammersmith One";
}



th, td {
    border-radius: 3em;
    color:#000000;
    text-align: start;
    background-color: #F6F6F6; !important;
    font-size: 1.15em;
}

table.table-bordered{
    margin-top:5px;
}

.card-body{
    background-color:#F6F6F6;
    margin-left: 250px;
    border-radius: 20px;
    margin-right:50px;
}

.colorPurple{
    color:#B357D2;
}

.colorOrange{
    color: #FAB14A;
}

.colorGreen{
    color:#83BA70; !important;
}

.backgroundGreen{
    background-color:#83BA70; !important;
    color:white;
}

.backgroundGray{
    background-color:#F6F6F6; !important;
}

.backgroundOrange{
    background-color:#FAB14A;
    color:white;
}

.backgroundPurple{
    background-color:#B357D2;
    color:white;
}

.btn{
    border-radius:10px;
}


#pageTitle{
    margin-top: 20px;
    background-color: white; !important;
}

#pageBottom{
    margin-top: 20px;
    background-color: white; !important;
    text-align: right;
}

#buttonUP{
    margin-top: 20px;
    background-color: white; !important;
    text-align: right;
}